
    <!--Duxion Box-->
    <div class="col-sm-12 col-md-12 col-lg-4" style = "padding-top:1em;">
        <a href="#" style="text-decoration: none; color: black; outline: none;" data-toggle="modal" data-target="#myModal1">
            <div class="card zoom" style="padding-top: 4.5em; padding-bottom: 4.5em;  padding-left: 2.5em;">
                <div class="row">
                    <div class=" center ">
                        <img src="static/img\duxionlogo.png" class="img-responsive" style=" max-width: 90%; height: auto;" />
                    </div>
                </div>
            </div>
        </a>
    </div>

        <!--Kraken Box-->
    <div class="col-sm-12 col-md-12 col-lg-4" style = "padding-top:1em;">
        <a href="#" style="text-decoration: none; color: black; outline: none;" data-toggle="modal" data-target="#myModal2">
            <div class="card zoom" style="padding-top: 4em; padding-bottom: 4em;  padding-left: 4em;">
                <div class="row">
                    <h2 class="m-auto"><img src="static/img\krakenlogo.jpg" class="img-responsive" style=" max-width: 83%; height: auto;" /></h2>
                </div>
            </div>
        </a>
    </div>

    <!--Rheinmetall Box-->
    <div class="col-sm-12 col-md-12 col-lg-4" style = "padding-top:1em;">
        <a href="#" style="text-decoration: none; color: black; outline: none;" data-toggle="modal" data-target="#myModal3">
            <div class="card zoom" style="padding-top: 4.7em; padding-bottom: 4.7em; padding-left: 4em;">
                <div class="row">
                    <h2 class="m-auto"><img src="static/img\rheinmetalllogo.png" class="img-responsive" style=" max-width: 90%; height: auto;" /></h2>
                </div>
            </div>
        </a>
    </div>
